@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* || FONT || */
  --font-bellefair: "Bellefair", serif;
  --font-barlow: "Barlow", sans-serif;
  --font-barlow-condensed: "Barlow Condensed", sans-serif;

  /* || COLORS || */
  --color-dark-drift: hsl(230, 35%, 7%);
  --color-lavender-blue: hsl(231, 77%, 90%);

  /* BREAKPOINTS */
  --breakpoint-xs: 30rem;
}

html {
  background-color: var(--color-dark-drift);
}

.max-container {
  max-width: 96rem;
  margin-inline: auto;
}

/* HEADER & Navigation Links */

.header-nav-ul {
  counter-reset: leading-zero -1;
}

.header-nav-li {
  counter-increment: leading-zero;
}

.header-nav-link::before {
  content: counter(leading-zero, decimal-leading-zero);
  font-weight: bold;
  letter-spacing: 0.16875rem; /* 2.7px */
  padding-right: 0.75rem; /* 12px */
}

/* HEADER & Content Nested Links */

.header-nav-link.active::after,
.destination-nav-link.active:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  transition: opacity 600ms;
}

.header-nav-link:not(.active)::after,
.destination-nav-link:not(.active)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  opacity: 0;
  transition: opacity 600ms;
}

.header-nav-link:not(.active):hover::after,
.destination-nav-link:not(.active):hover::after {
  opacity: 0.5;
}

.destination-nav-link.active:after,
.destination-nav-link:not(.active)::after {
  bottom: -0.75rem;
}

.crew-pagination-link {
  background-color: hsla(0, 0%, 100%, 0.17);
}

.crew-pagination-link.active {
  background-color: hsl(0, 0%, 100%);
}

.crew-pagination-link:not(.active):hover {
  background-color: hsla(0, 0%, 100%, 0.5);
}

.crew-link:has(a:focus-visible) {
  transform: scale(0.9);
}

.technology-pagination.active {
  color: var(--color-dark-drift);
  background-color: white;
}

.technology-pagination {
  color: white;
  background-color: transparent;
  border: 1px solid hsla(0, 0%, 100%, 0.25);
}

/* CTA Button "EXPLORE" */

.cta-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 170%;
  height: 170%;
  background-color: white;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 600ms;
}

.cta-btn span {
  transition: opacity 600ms;
}

.cta-btn:hover::before {
  opacity: 0.1;
}

.cta-btn:hover span {
  opacity: 0.5;
}

@media (width < 64rem /* 1024px */) {
  .header-nav-li:first-child .header-nav-link::before {
    display: none;
  }

  .cta-btn::before {
    width: 240%;
    height: 240%;
  }
}

/* Text Content */

h1 {
  @apply font-bellefair mb-4 text-white uppercase;
}

.home-h1 {
  @apply mb-0 text-[9rem] max-md:text-[5rem];
}

.destination-h1,
.destination-main-h1 {
  @apply text-8xl max-xl:text-6xl max-lg:text-[5rem] max-md:text-[3.5rem];
}

.destination-main-h1 {
  @apply max-sm:text-2xl;
}

.crew-h1,
.technology-h1 {
  @apply text-[3.5rem] max-xl:text-5xl max-lg:text-[2.5rem] max-md:text-2xl;
}

.figure-3d:hover .credit-text {
  opacity: 0.75;
}

/* Background Image */

.bg-home {
  @apply bg-[url(/assets/home/background-home-desktop.jpg)] max-lg:bg-[url(/assets/home/background-home-tablet.jpg)] max-md:bg-[url(/assets/home/background-home-mobile.jpg)];
}

.bg-destination {
  @apply bg-[url(/assets/destination/background-destination-desktop.jpg)] max-lg:bg-[url(/assets/destination/background-destination-tablet.jpg)] max-md:bg-[url(/assets/destination/background-destination-mobile.jpg)];
}

.bg-crew {
  @apply bg-[url(/assets/crew/background-crew-desktop.jpg)] bg-center max-lg:bg-[url(/assets/crew/background-crew-tablet.jpg)] max-md:bg-[url(/assets/crew/background-crew-mobile.jpg)];
}

.bg-technology {
  @apply bg-[url(/assets/technology/background-technology-desktop.jpg)] max-lg:bg-[url(/assets/technology/background-technology-tablet.jpg)] max-md:bg-[url(/assets/technology/background-technology-mobile.jpg)];
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
